

.grocery-bg {
  background: #ECECEC;
  margin-left: 10px;
  margin-right: 10px;
}

.shopping-bag-bg {
  background: #E4F1FE;
  margin-left: 10px;
  margin-right: 10px;
}

.stats-bg {
  background: #F2F1EF;
  margin-left: 10px;
  margin-right: 10px;
}